body {
    /* background-color: hotpink; */
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("http://placekitten.com/200/300");
}

main {
    background-color: red;
    border-radius: 5px;
    width: 375px;
}

.top {
    height: 120px;
    text-align: center;
}

.middle {
    background-color: white;
    height: 115px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.bottom {
    height: 15px;
}

.hello { 
    font-size: 4.5rem;
    line-height: 1;
    color: white;
}

.my-name-is {
    font-size: 1rem;
    line-height: 2;
    color: white;
}